{
  mount => '/',
  cleanup => 0,
  login => ['user1:pass', 'user2:pass'],
  defaultzone => 'zone1',
  zones => {
    zone1 => {
      login => ['user1'],
      path => '/root/zone1',
      #default => '',
      #qrcodes => 1,
      #downloads => 0,
      #pastes => 0,
      #uploads => 0,
    },
    zone2 => {
      login => ['user1', 'user2'],
      path => '/root/zone2',
      #default => '',
      #qrcodes => 1,
      #downloads => 0,
      #pastes => 0,
      #uploads => 0,
    }
  },
  downloads => {
    One => ['/root/downloads'],
  },
  links  => {
    One => '/root/links',
  },
  pastes  => {
    One => '/root/pastes',
  },
  uploads => {
    One => '/root/uploads',
  },
}